/* =========================
   THEME SWITCH
   ========================= */

.theme-switch {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}

.theme-switch button {
    width: 45px;
    height: 45px;

    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 10px;

    background: #1a1f27;

    cursor: pointer;

    font-size: 20px;
}


/* =========================
   YELLOW THEME
   ========================= */

body {
    background: linear-gradient(
        135deg,
        #13171c 0%,
        #1b2028 100%
    );

    color: #f5e05a;

    transition:
        background 0.3s ease,
        color 0.3s ease;
}


/* =========================
   PURPLE THEME
   ========================= */

body.purple-mode {

    background: #101010;

    color: #b58cff;

}


/* Purple cards */

body.purple-mode .link-card {

    background: #101010;

    border: 2px solid #b58cff;

}


/* Purple theme buttons */

body.purple-mode .theme-switch button {

    background: #101010;

    border: 2px solid #b58cff;

}


/* Purple image hover */

body.purple-mode img:hover {

    box-shadow:
        0 0 20px
        rgba(181, 140, 255, 0.4);

}
